body {
  background-color: #272822;
  color: white;
}

.rect1 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.rect2 {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
}

.indent {
  padding-left: 25px;
}

.indent2 {
  padding-left: 50px;
}

.smush {
  margin-bottom: 30px;
}

.smush p {
  margin: 0px;
  font-size: 21px;
}

.preview {
  padding: 20px;
}

.webimage {
  border: solid lightgray 1px;
}

.note {
  padding: 20px;
}

.inline-list {
  padding-left: 0px;
}

.inline-list li {
  display: inline;
  padding-right: 20px;
  font-size: 18px;
}

a {
  font-family: 'Droid Sans Mono', sans-serif;
  text-decoration: none;
  color: #B28DFC;
}

a:hover {
  color: #69E6FB;
}

.title {
  color: white;
  margin: 0px;
  font-size: 36px;
}

.subtitle {
  color: white;
  margin: 0px;
  margin-top: 5px;
}

.header {
  margin: 0;
  padding: 5px;
  padding-left: 20px;
}

.red {
  color: #F92772 ;
}

.orange {
  color: #FD9720;
}

.green {
  color: #A6E22D;
}

.yellow {
  color: #E6DB74;
}

.purple {
  color: #B28DFC;
}

.blue {
  color: #69E6FB;
}

h1 {
  font-family: 'Droid Sans Mono', sans-serif;
}

h3 {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 18px;
}

footer {
  font-family: 'Droid Sans Mono', sans-serif;
  padding: 25px;
}