body {
  background-color: #272822;
  color: white;
}

.card {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 30px;
}

.smush {
  margin-bottom: 30px;
}

.smush p {
  margin: 0px;
  font-size: 21px;
}

.indent {
  padding-left: 25px;
}

.indent2 {
  padding-left: 50px;
}

.inline-list {
  padding-left: 0px;
}

.inline-list li {
  display: inline;
  padding-right: 20px;
  font-size: 18px;
}

a {
  font-family: 'Droid Sans Mono', sans-serif;
  text-decoration: none;
  color: #B28DFC;
}

a:hover {
  color: #69E6FB;
}

.red {
  color: #F92772 ;
}

.orange {
  color: #FD9720;
}

.green {
  color: #A6E22D;
}

.yellow {
  color: #E6DB74;
}

.purple {
  color: #B28DFC;
}

.blue {
  color: #69E6FB;
}

h1 {
  font-family: 'Droid Sans Mono', sans-serif;
}

h3 {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Droid Sans Mono', sans-serif;
  font-size: 18px;
}

footer {
  font-family: 'Droid Sans Mono', sans-serif;
  padding: 25px;
}