.carousel {
    overflow: hidden;
    width: 100%;
}

.panes {
    list-style: none;
    position: relative;
    width: 500%;
    overflow: hidden;
    margin: 0;
    padding: 0;

    -webkit-animation: slide 30s infinite; /* Safari 4+ */
    -moz-animation:    slide 30s infinite; /* Fx 5+ */
    -o-animation:      slide 30s infinite; /* Opera 12+ */
    animation:         slide 30s infinite; /* IE 10+ */
}

.panes > li {
    position: relative;
    float: left;
    width: 20%;
}

.carousel img {
    display: block;
    width: 100%;
    max-width: 100%;
}

@keyframes slide {
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: 0%; }
}

@-webkit-keyframes slide {
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: 0%; }
}

@-moz-keyframes slide {
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: 0%; }
}